.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: black;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo h1 {
    font-size: 40px;
    margin: 0;
  }